
.world-viewer {
    padding-top: 64px;
    display: block;
    height: 100vh;
    /* Ensure the component is block-level */
}

bim-grid:not([floating])>bim-panel {
    border-radius: 0;
}

bim-grid[floating]>bim-toolbar {
    justify-self: center;
}